<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
              <head>
                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

                  <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
                  <title>{% block title %}Welcome!{% endblock %}</title>
              </head>

              <body>
                  <div>
                  <h1>{% block myhdg %}Hello {{ request.user.username }}{% endblock %}</h1>
                  {% block body_block %}*** {% endblock %}
                  </div>
              </body>
</html>